html { 
    box-sizing: border-box; 
}
*, *::before, *::after { 
    box-sizing: inherit; 
}

body {
    min-width: 940px;
    padding: 0;

    font-family: "Cuprum", Arial, sans-serif;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.btn {
    padding: 11px 55px 9px;

    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #ffffff; 
    text-transform: uppercase; 

    background-color: #ee3643;
    border-radius: 3px; 
}

.btn:hover {
    background-color: #ca2c37;
}

.btn:active {
    background-color: #ba2732;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    padding-bottom: 60px;

    background-color: #f4f7f9;
}

.top-header {
    background-color: #293449;
}

.header-logo {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 220px;
    margin-bottom: -5px;
    padding-top: 12px;
    padding-bottom: 10px;

    text-align: center;

    background-color: #ee3643;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo:hover {
    background-color: #ca2c37;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo:active {
    background-color: #ba2732;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.search { 
    position: relative;

    min-width: 270px;
    margin: 0;
}

.search-icon {
    position: absolute;
    content: " ";
    top: 10px;
    left: 8px;
}

.search button {
    background: none;
    border: none;
}

.search input::placeholder {
    color: #ffffff;
}

.search input[type="search"] {
    width: 100%;
    padding: 12px 10px 12px 49px;

    font-size: 17px;
    line-height: 18px;
    color: #000000;

    background-color: #293449;
    border: none;

    cursor: pointer;
}

.bookmarks,
.basket {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.bookmarks,
.basket {
    display: flex;
    justify-content: space-around;
    width: 150px;
    margin: 0;
    padding: 11px 22px 11px 13px;
}

.search-icon .icon,
.bookmark-icon .icon,
.basket-icon .icon {
    fill: #ffffff;
    opacity: 0.3;
}

.bookmark-icon:hover .icon,
.basket-icon:hover .icon,
.basket-icon-full:hover .icon {
    opacity: 1;
}

.search input:hover,
.bookmark-icon:hover,
.basket-icon:hover  {
    background-color: #212a3a; 
}

.search-input-field:hover  +  .search-icon .icon {
    opacity: 1;
}

.bookmark-icon:active,
.basket-icon:active {
    color: rgba(255, 255, 255, 0.6);

    background-color: #161d29;
}

.search input:focus {
    background-color: #ffffff;
    border: none;
}

.search-input-field:focus::placeholder {
 color: #000000;
}

.search-input-field:focus  +  .search-icon .icon {
    fill: #ee3643;
    opacity: 1;
}

.search-icon:active .icon,
.bookmark-icon:active .icon,
.basket-icon:active .icon {
    opacity: 0.5;
}

.checkout {
    width: 150px;
    margin: 0;
    padding-left: 20px; 
    padding-top: 12px;
    padding-bottom: 12px;

    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #63a63e;
}

.checkout:hover {
    background-color: #5fbb2d;
}

.checkout:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: rgb(81, 133, 52);
}

.middle-header {
    display: flex;
    justify-content: space-between;
    padding: 46px 0 38px 0;
}

.middle-header-title {
    width: 300px;
    margin: 0;
    padding: 3px 74px 0 50px;

    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
}

.middle-header-contacts { 
    width: 300px;
    padding: 0 30px 0 0;
}

.contacts-phone {
    position: relative;

    display: block;
    margin: 0 0 8px 0;
    padding: 8px 0 8px 72px;

    font-size: 21px;
    line-height: 21px;
    color: #ee3643;

    border: 3px solid #ffffff;
}

.contacts-phone::after {
    position: absolute;
    content: " ";
    top: 10px;
    left: 12px;

    width: 19px;
    height: 19px;

    background: url("../img/icon-phone.svg")
}

.contacts-adress {
    margin: 0;
    padding-left: 8px;

    font-size: 14px;
    line-height: 24px;
    color: #32425c; 
}

.user-block {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 0;
    padding: 0 0 0 17px;

    list-style: none;
}

.login-icon .icon {
    fill: #c5c5c5;
}

.user-link {
    display: block;
    padding: 12px 25px 12px 22px; 

    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #000000;

    background-color: #ffffff;
}

.login .user-link {
    display: flex;
    justify-content: space-around;
    width: 120px;
    margin: 0;
    padding: 12px 18px 12px 12px;
}

.user-link:hover {
    color: #ee3643;
}

.user-link:hover .icon {
    fill: #32425c;
}

.user-link:active .icon {
    fill: #c5c5c5;
}

.user-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
    background-color: #32425c;
    box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation {
    display: flex;
    justify-content: space-around;
    min-height: 58px;
    margin: 0;
    padding-left: 22px;
    padding-right: 22px;

    list-style: none;
}

.site-navigation a {
    display: block;
    padding: 20px 26px;

    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
}

.site-navigation a:hover {
    background-color: #293449;
}

.site-navigation a:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #1d2739;
}

.promo-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 33px;
}

.category {
    position: relative;

    width: 300px;
    min-height: 123px;
    margin: 0 0 20px 0;
    padding: 0;
}

.materials {
    position: relative;

    margin-right: 20px;
    
    background-color: #ffbf47;
}

.materials .flag {
    position: absolute;
    top: 0px;
    right: 0px;

    width: 60px;
    height: 60px;

    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.materials .flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
}

.promo-block .materials::after {
    position: absolute;
    content: " ";
    top: 30px;
    right: 43px;
    z-index: 30;

    width: 44px;
    height: 65px;

    background: url("../img/icon-1.svg") no-repeat 0 0;
}

.instruments {
    margin-right: 20px;

    background-color: #3bbce3;
}

.promo-block .instruments::after {
    position: absolute;
    content: " ";
    top: 33px;
    right: 28px;
    z-index: 30;

    width: 75px;
    height: 61px;

    background: url("../img/icon-2.svg") no-repeat 0 0;
}

.equipment {

    background-color: #dc91d8;
}

.promo-block .equipment::after {
    position: absolute;
    content: " ";
    top: 31px;
    right: 31px;
    z-index: 30;

    width: 78px;
    height: 62px;

    background: url("../img/icon-3.svg") no-repeat 0 0;
}

.promo-slider {
    width: 620px;
    margin-right: 20px;
}

.column {
    display: flex;
    flex-direction: column;
}

.sales {
    margin-bottom: 20px;

    background-color: #8ed78f;
}

.promo-block .sales::after {
    position: absolute;
    content: " ";
    top: 26px;
    right: 45px;
    z-index: 30;

    width: 59px;
    height: 72px;

    background: url("../img/icon-4.svg") no-repeat 0 0;
}

.delivery {
    background-color: #ffc047;
}

.promo-block .delivery::after {
    position: absolute;
    content: " ";
    top: 32px;
    right: 31px;
    z-index: 30;

    width: 78px;
    height: 63px;

    background: url("../img/icon-5.svg") no-repeat 0 0;
}

.cards {
    display: block;
    margin: 23px 0 12px 23px;
    padding: 0;

    font-size: 24px;
    line-height: 30px; 
    font-weight: bold;
    color: #ffffff;
}


.cards-link {
    display: inline-block;
    width: 135px;
    margin: 0 0 0 24px;
    padding: 10px 0;

    font-size: 14px;
    line-height: 18px; 
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.cards-link:hover,
.cards-link:focus {
    background-color:rgba(0, 0, 0, 0.2);
}

.cards-link:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.header-products {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
    padding: 25px 25px 25px 30px;

    background-color: #f9f5f0;
}

.header-products h2 {
    padding: 6px 0 0 0;
    margin: 0;

    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.catalog-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px 0 0;
    padding: 0;
}

.catalog-item {
    position:relative;
   
    display: flex;
    flex-direction: column;
    width: 220px;
    margin: 0 20px 20px 0;
    padding: 0;

    font-weight: bold;
    text-align: center;

    border: 1px solid #eaeaea;
}

.catalog-item .actions {
    opacity: 0;
}

.catalog-item:hover .actions {
    opacity: 1;
}

.catalog-item:focus-within .actions {
    opacity: 1;
}

.catalog-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: 100;

    width: 60px;
    height: 60px;

    text-indent: -1000px;
    overflow: hidden;
}

.catalog-item .flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
    position: absolute;
    top:0;
    left:0;
    z-index: 10;

    width:218px;
    height: 164px;
    padding: 40px 0;

    background-color: #ffffff;
}

.catalog-item .image {
    order: -1;
    width: 218px;
    height: 170px;
}

.catalog-item .image img {
    max-width: 100%;
}

.title {
    min-height:40px;
    margin: 8px 0 10px 0;
    padding:0 25px;    

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: #000000;
}

.title a {
    color: #000000;
}

.discount {
    min-height: 20px;
    margin: auto 0 10px 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    text-decoration: line-through;
    color: #a9a9a9;
}

.price {
    white-space: nowrap;
    width: 141px;
    height: 38px;
    margin: auto auto 20px auto;
    padding: 10px 20px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    color: #ffffff;

    background-image: url("../img/red-button.svg");
    background-repeat: no-repeat;
}

.discount + .price {
    margin-top: 0;
}

.buy {
    position: relative;

    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 10px 0;

    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #63a63e;
    box-shadow: inset 0px -3px 0 0 #367315;
    border-radius:3px;
}

.buy::before {
    position: absolute;
    content: " ";
    top: 11px;
    left: 14px;

    width: 15px;
    height: 15px;

    background: url("../img/icon-cart.svg") no-repeat;
    opacity: 0.3;
}

.buy:hover  {
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #5fbb2d;
}

.buy:hover::before {
    opacity: 1;
}

.buy:active {
    background-color: #518534;
}

.buy:active::before {
    opacity: 1;
}

.bookmark {
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;

    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;

    border: 3px solid #63a63e;
    border-radius:3px;
}

.bookmark:hover {
    border: 3px solid #32425c;
}

.bookmark:active {
    color: #32425c;

    opacity: 0.3;
    border: 3px solid #32425c;
}

.brands-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 68px 0;
    padding: 0;
}


.brands-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    min-height: 145px;
    margin: 0 0 20px 0;

    border: 1px solid #eaeaea;
}

.brands-list img {
    max-width: 100%;
}


.brands-list a:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-list a:active { 
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

/* =====  SERVICE SLIDER ==== */


.service {
    background-color: #f4f7f9;
}

.service h2 {
    padding: 66px  0 0 0;

    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.service-intro {
    width: 400px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.service-slider {
    display: flex;
    padding: 55px 0 0 0;
}

.service-slider-content {
    margin: 0 0 0 80px;
    padding: 0;
    width: 275px;
}

.service-control {
    position: relative;

    display: flex;
    flex-direction: column;
    width: 240px;

    margin: 0;
    padding: 0;
}

.service-control label::after {
    position: absolute;
    content: " ";
    top: -35px;
    left: 230px;
    z-index: 40;

    width: 10px;
    height: 279px;

    background-image: url("../img/shadow.png");
    background-repeat: no-repeat;
}

.service-control label {
    width: 240px;
    padding: 14px 0 18px 22px;
    
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;

    background-color: #32425c;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
}

.service-control label:hover,
.service-control label:focus {
    box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
    background-color: #293449;
}

.service-slide h3 {
    margin: 0 0 22px 0;
    padding: 0;

    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
}

.service-slide p {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.service-slide {
    display: none;
    min-width: 620px;
    min-height: 281px;

    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.slide-delivery {
    background-image: url(../img/delivery.png);
}

.slide-delivery p {
    width: 275px;
}

.slide-guarantee {
    background-image: url(../img/guarantee.png);
}

.slide-guarantee p {
    width: 379px;
}

.slide-credit {
    background-image: url(../img/credit.png);
}

.slide-credit p {
    margin:  0 0 32px 0;
}

.slide-credit .btn {
    margin: 0;
    padding: 10px 44px;
}

.service-slider-btn-1:checked ~ .service-control .control-1,
.service-slider-btn-2:checked ~ .service-control .control-2,
.service-slider-btn-3:checked ~ .service-control .control-3 {
  color: #3d546e;

  box-shadow: 0px 1px 0 0 rgb(255, 255, 255), inset 0px 1px 0 0 rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border: none;
}

.service-slider-btn-1:checked ~ .service-slider-content .slide-delivery {
    display: block;
}

.service-slider-btn-2:checked ~ .service-slider-content .slide-guarantee {
    display: block;
}

.service-slider-btn-3:checked ~ .service-slider-content .slide-credit {
    display: block;
}

/* =====  ================ ==== */

.about-company {
    display: flex;
    justify-content: space-between;
    padding: 82px 0 86px 0;
}

.about {
    display: flex;
    flex-direction: column;
    width: 520px;
}

.company-contacts {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.about h2,
.company-contacts h2 {
    padding: 0;
    margin: 0 0 25px 0;

    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.about p,
.company-contacts p {
    margin: 0 0 24px 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.transport-company {
    margin: 0 0 15px 0;
    padding: 0;

    list-style: none;
}

.transport-company li {
    position: relative;

    margin: 0 0 20px 35px;
    padding: 0;

    font-size: 18px;
    line-height: 20px;
}

.transport-company li::before {
    position: absolute;
    content: "";
    top: 9px;
    left: -35px;

    width: 25px;
    height: 2px;

    background-color:#ee3643;
}

.company-contacts p {
    width: 180px;
    margin: 0 0 34px 0;
}

.map {
    margin: 0 0 36px 0;
    max-width: 100%;
    height: auto;
    border: none;
}

.about .btn {
    display: inline-block;
    margin: 0 300px 0 0;
    padding: 10px 0 10px 0;
}

.main-footer {
    background-color: #32425c;
}

.footer-top .container {
    display: flex;
    justify-content: space-between;
}

.footer-top .logo {
    padding: 20px 0 20px 0;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    width: 325px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    width: 550px;
    
}

.footer-site-menu {
    display: flex;
    justify-content: flex-end; 
    margin: 0;
    padding: 0;  
}

.footer-shop-menu {
    display: flex;
    justify-content: flex-end; 
    margin: 0;
    padding: 0;    
}

.address {
    margin: 0;
    padding: 34px 0 50px 0;

    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.footer-site-menu,
.footer-shop-menu,
.social-button {
    list-style: none;
}

.footer-site-menu li {
    margin: 0;
    padding: 38px 0 0 60px;
     
}

.footer-shop-menu li {
    padding: 35px 0 0 60px;
    margin: 0; 
}

.footer-site-menu a {
    margin: 0;
    padding: 0;

    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;    
}

.footer-site-menu a:hover {
    text-decoration: underline;
}

.footer-site-menu a:active {
    color: #f3f7f9;

    border: none;
    opacity: 0.5;
}

.footer-shop-menu a {
    padding: 0; 
    
    font-size: 18px;
    line-height: 24px;
    color: #ffd180;    
}

.footer-shop-menu a:hover {
    text-decoration: underline;  
}

.footer-shop-menu a:active {
    color: #ffd180;

    border: none;
    opacity: 0.5;  
}

.footer-bottom {
    background-color: #293449;

    padding: 36px 0 0 0;
}

.footer-bottom .container {
    display: flex;
}

.copyright-company {
    width: 250px;
    margin: 0 135px 35px 0;

    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.social-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    width: 140px;
    margin: 0 118px 0 0;
    padding: 0;
}

.btn-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    
    background-color: #212a3a;
    border-radius: 50%;
}

.btn-social:hover,
.btn-social:active {
    background-color: #ee3643;
}

.btn-social .icon {
    fill: #ffffff;
}

.feedback,
.design-copyright {
    width: 140px;
    margin: 0;

    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.design-copyright {
    padding-left: 45px;
}

.feedback a,
.design-copyright a {
    font-size: 16px;
    line-height: 18px;
    color: #ffd180;
}

.feedback a:hover,
.design-copyright a:hover {
    text-decoration: underline;
}

.feedback a:active,
.design-copyright a:active{
    color: #ee3643;

    border: none;
}



/* =====  PROMO SLIDER ==== */

.promo-slider {
    position: relative;

    display: flex;
    justify-content: column;
    margin: 0 20px 0 0;
    padding: 0;
}

.promo-slider h2 {
    margin: 0;
    padding: 0;
}

.slider-controls {
    position: absolute;
    left: 315px;
    bottom: 55px;
    z-index: 100;
  
    width: 40px;
  
    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}
  
.slider-controls label {
    position: relative;
  
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 2px;
    margin: 0 10px 0 0;
  
    border-radius: 50%;
    cursor: pointer;
}  

.slider-controls label::after {
    content: " ";
  
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  
    width: 10px;
    height: 10px;
  
    background: #ffffff;
    border-radius: 50%;
}

.promo-slider .arrow-left::before {
    position: absolute;
    content: " ";
    top: 114px;
    left: 25px;

    width: 22px;
    height: 40px;

    background-image: url("../img/icon-left.svg");
    background-repeat: no-repeat;

    cursor: pointer;
}

.promo-slider .arrow-right::after {
    position: absolute;
    content: " ";
    top: 114px;
    right: 22px;

    width: 22px;
    height: 40px;

    background-image: url("../img/icon-right.svg");
    background-repeat: no-repeat;

    cursor: pointer;
}

.slider-item {
    display: none;
}

.slider-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-item:nth-child(1) {
    width: 620px;
    height: 266px;

    background-image: url("../img/slider-2.jpg");
    background-repeat: no-repeat;
}
  
.slider-item:nth-child(2) {
    width: 620px;
    height: 266px;

    background-image: url("../img/slider-1.jpg");
    background-repeat: no-repeat;
}


#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}
  
#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item-1::before,
#product-2:checked ~ .slider-controls .slider-controls-item-2::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  z-index: 2;

  width: 6px;
  height: 6px;

  background-color: #ee3643;
  border-radius: 50%;
}

.slider-item h3 {
    margin: 0;
    padding: 25px 0 0 24px;

    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}

.slider-item p {
    margin: 0 0 130px 0;
    padding: 0 0 0 24px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;   
}

.slider-item-button {
    margin: 0 0 0 24px;
    padding: 10px 45px 10px 49px;
}

/* ===== ============= ==== */

/* ===== == CATALOG == ==== */

.header-catalog {
    margin: 0 0 21px 0;
}

.basket-icon-full .icon {
    fill: #ffffff;
    opacity: 0.3; 
}

.basket-icon-full {
    background-color: #ee3643;
}

.basket-icon-full:hover {
    background-color: rgb(202, 44, 55);
}

.basket-icon-full:active {
    background-color: rgb(186, 39, 50);
}

.user-container .user-block {
    display: flex;
    width: 300px;
    margin: 0 0 10px 0;
    padding: 0;
}

.user-container .user-link {
    padding: 12px 0 8px 14px;
    width: 60px;
}

.user-container .user-link-auth {
    display: flex;
    justify-content: space-around;
    width: 240px;
    margin: 0;
    padding: 12px 0 8px 4px;
}

.user-link .icon {
    fill: #c5c5c5;
}

.user-link:active {
    fill: #c5c5c5;
}

.user-link-auth:hover {
    color: #000000;
}

.user-link-auth:active {
    color: rgba(0, 0, 0, 0.3);
}

.oder-block,
.bread-crumb {
    list-style: none;
}

.oder-block {
    display: flex;
    justify-content: space-around;
    width: 250px;
    margin: 0;
    padding: 0 4px 0 0;
}

.oder-block a {
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 18px;
    color: #32425c;

    text-decoration: underline;
}

.oder-block a:hover {
    color: #ee3643;
}

.oder-block a:active {
    color: #32425c;

    opacity: 0.3;
}

.account {
    position: relative;
}

.account::before {
    position: absolute;
    content: " ";
    top: 8px;
    left: -20px;

    width: 4px;
    height: 4px;

    background-color: rgb(50, 66, 92);
    border-radius: 50%;
    z-index: 40;
}

.bread-crumb {
    display: flex;
    width: 400px;
    margin: 0 0 21px 0;
    padding: 0;
}

.bread-crumb a {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000; 
    text-transform: uppercase;   
}

.bread-crumb li {
    position: relative;

    margin: 0 40px 0 0;
}

.bread-crumb li::after {
    position: absolute;
    content: " ";
    top: 2px;
    right: -23px;
    z-index: 50;

    width: 8px;
    height: 12px;

    background: url("../img/icon-right-small.svg") no-repeat 0 0;
}

.bread-crumb li:last-child::after {
    display: none;
}

.title-catalog {
    margin: 0 0 20px 0;
    padding: 28px 0 28px 28px;

    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;

    background-color: #f2f6f8;
}

.catalog-content {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0;
    padding: 0;
}

.filters {
    width: 220px;
    margin: 0;
    padding: 0;
}

.filters .filter-item {
    padding: 0 0 26px 0;
    border-bottom: 1px solid #e5e5e5;
}

.catalog-form fieldset {
    margin: 19px 0 0 0;
    padding: 0;
  
    border: none;
}

.catalog-form fieldset:first-child {
    margin: 0;
}

.catalog-form ul {
    margin: 0;
    padding: 0;
}

.filter-border {
    border-bottom: 1px solid #e5e5e5;
}

.results-catalog {
    width: 700px;
    padding: 0;
}

.range-filter {
    width: 220px;
    margin: 0;
    padding: 0;
}

.range-controls {
    position: relative;

    height: 80px;
    margin-bottom: 12px;
    padding: 39px 20px 0 20px; 

    background-color: #f7f3ec;
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;

    background: #d7dcde;
}

.range-controls .bar {
    width: 85%;
    height: 2px;

    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;

    width: 20px;
    height: 20px;
    padding: 0;

    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;

    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-controls label {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}

.price-controls input {
    width: 94px;
    margin: 0;
    padding: 8px 0 8px 0;
  
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    color: #000000;

    border: none;
    border-radius: 3px;
    background: #f7f3ec;
}

.max-price {
    text-align: right;
}

.filters h2 {
    margin: 0 0 12px 0;
    padding: 12px 0 10px 18px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #f7f3ec;
    border-radius: 3px;
}

.filters legend {
    margin: 0 0 12px 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.catalog-form ul,
.sort-types,
.pagination-list {
    list-style: none;
} 

.filter-option {
    margin: 0 0 20px 35px;
    padding: 0;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;  
    text-transform: uppercase;  
}

.filter-option label {
    position: relative;
  
    display: block;
  
    cursor: pointer;
    user-select: none;
}

.filter-input-radio + label::before {
    position: absolute;
    content: "";
    left: -35px;
    top: -3px;
  
    width: 25px;
    height: 25px;
  
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    opacity: 0.8;
}

.filter-input:disabled + label {
    color: rgba(0, 0, 0, 0.4);
}

.filter-input-checkbox + label::before {
    position: absolute;
    content: "";
    left: -35px;
    top: -3px;
  
    width: 25px;
    height: 25px;
  
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    opacity: 0.8;
}

.filter-input-radio:checked + label::before {
    background-image: url("../img/radio-on.svg");
    opacity: 0.8;
}
  
.filter-input-checkbox:checked + label:before {
    background-image: url("../img/checkbox-on.svg");
    opacity: 0.8;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:active::before,
.filter-input-radio + label:focus::before {
  opacity: 1;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:focus::before,
.filter-input-checkbox + label:active::before {
  opacity: 1;
}

.filter-input-radio + label:disabled::before,
.filter-input-checkbox + label:disabled::before {
  opacity: 0.4;
}

.form-btn {
    margin: 60px 0 0 0;
    padding: 10px 39px 10px 39px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;

    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}

.form-btn:hover  {
    border: 1px solid #bdc6ca;
    background-color: #ffffff;
}

.form-btn:active {
    border: 1px solid #ee3643;
    background-color: #ffffff;
}

.results {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 0 0 20px 0;

    background-color: #f7f3ec;
    border-radius: 3px;
}

.sort-types {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 460px;
    margin: 0;
    padding: 0;
}

.results p {
    width: 220px;
    margin: 0;
    padding: 12px 0 10px 18px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;

    text-transform: uppercase;
}

.sort {
    margin: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;

    opacity: 0.3;
    border-bottom: 1px #ee3643 dotted;
}

.sort-types li {
    margin: 0 71px 0 0;
}

.sort-types li:nth-child(2) {
    margin: 0 63px 0 0;
}

.sort-types li:nth-child(3) {
    margin: 0;
}

.sort-types li:nth-child(4) {
    margin: 0 21px 0 46px;
}

.sort-types li:nth-child(5) {
    margin: 0;
}

.sort-types .current  {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #ee3643;

    opacity: 1;
    border: none;
}

.sort:hover {
    color: #000000;

    border-bottom: 1px solid #ee3643;
    opacity: 1;
}

.sort:active {
    color: #ee3643;

    border: none;
    opacity: 1;
}

.less-to-more:hover,
.more-to-less:hover {
    margin: 0;
    padding: 0;
}

.less-to-more .icon {
    fill: #ee3643;
}

.more-to-less .icon {
    fill: #c5c5c5;
}

.less-to-more:hover .icon,
.more-to-less:hover .icon {
    fill: #000000;
}

.less-to-more:active .icon,
.more-to-less:active .icon {
    fill: #ee3643;
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    padding: 32px 0 0 0;
    margin: 0 0 60px 0;
}

.pagination-item {
    margin: 0 8px 0 0;
}

.pagination-item a {
    display: inline-block;
    margin: 0;
    padding: 10px 15px 10px 15px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;

    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.next a {
    display: inline-block;
    margin: 0;
    padding: 10px 32px 10px 32px;
}

.pagination-list a:hover  {
    border: 1px solid #bdc6ca;
}

.pagination-list a:active {
    border: 1px solid #ee3643;
}

.pagination-list .active a {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;

    background-color: #ee3643;
    border: transparent;
}

.description {
    margin: 0;
    padding: 65px 0 68px 0;

    background-color: #f4f7f9;
}

.description h2 {
    margin: 0 0 25px 0;
    padding: 0;
     
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.description p {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

/* ===== == MODAL WINDOW == ==== */

.modal {
    position: fixed;
    z-index: 300;

    display: none;
    width: 620px;

    background-color: #ffffff;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
    border-top: 7px solid #ee3643;
}

.modal-login {
    bottom: 200px;
    left: 50%;
  
    width: 620px;
    margin-left: -290px;
    padding: 52px 80px 0 80px;
}

.login-form {
    width: 460px;
}

.modal .modal-close {
    position: absolute;
    top: 7px;
    right: 7px;

    width: 21px;
    height: 21px;

    font-size: 0;

    background-image: url("../img/icon-close.svg");
    border: 0;

    cursor: pointer;
}

.user-block-form {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 460px;
}
  
.half-width label,
.login-form label {
    display: block;
  
    width: 220px;
    margin: 0 0 13px 0;
}

.login-form label {
    font-size: 18px;
    line-height: 18px;
}

.login-form input,
.login-form textarea {
    padding: 12px 16px 12px 16px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;

    border: 2px solid #dee3e4;
    border-radius: 3px;
}

.user-block-form input {
    width: 220px;
}

.login-form textarea {
    width: 460px;
    margin:  0 0 35px 0;
    padding: 13px 16px 88px 16px;
}

.login-form input:hover,
.login-form textarea:hover {
    border: 2px solid #b5b5b5;
}

.login-form input:focus,
.login-form textarea:focus {
    border: 2px solid #ee3643;
}

.button-area {
    width: 620px;
    margin: 0 0 0 -80px;
    padding: 37px 80px 37px 80px;

    background: #f4f4f4;
}

.login-form .btn {
    padding: 14px 198px;

    font-size: 14px;
    line-height: 18px;
    border: 0;
}

/* ===== == MODAL MAP == ==== */

.modal-window {
    position: fixed;
    z-index: 300;

    display: none;

    box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
}

.modal-map {
    bottom: 250px;
    left: 50%;
  
    width: 940px;
    height: 446px;
    margin: 0 0 0 -470px;
    padding: 0;
}

.modal-map img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  
    width: 100%;
    height: 447px;
    margin: 0;
    padding: 0;
}

.modal-map iframe {
    width: 100%;
}

.modal-window .modal-close {
    position: absolute;
    top: 9px;
    right: 9px;

    width: 21px;
    height: 21px;

    font-size: 0;

    background-image: url("../img/icon-close.svg");
    border: 0;
    background-color: transparent;

    cursor: pointer;
}

/* ===== == MODAL CATALOG == ==== */

.modal-cocntent {
    margin: 0 0 68px 0;
    padding: 20px 0 0 99px;

    font-size: 30px;
    line-height: 30px;
}

.modal-cocntent::before {
    position: absolute;
    content: " ";
    top: 55px;
    left: 81px;

    width: 66px;
    height: 66px;

    background-image: url("../img/icon-mark.svg");
}

.button-block {
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin: 0 0 0 -80px;
    padding: 39px 80px 37px 80px;

    background-color: #f4f4f4;
}

.button-block .btn,
.continue-button {
    width: 220px;
    padding: 12px 0;

    text-align: center;
}

.continue-button {
    font-size: 14px;
    line-height: 18px;
    color: #000000;

    background-color: #ffffff;
}

.continue-button:hover  {
    border: 1px solid #bdc6ca;
    background-color: #ffffff;
}

.continue-button:active {
    border: 1px solid #ee3643;
    background-color: #ffffff;
}


