html { 
    box-sizing: border-box; 
}
*, *::before, *::after { 
    box-sizing: inherit; 
}

body {
    min-width: 940px;
    padding: 0;

    font-family: "Cuprum", Arial, sans-serif;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.btn {
    padding: 11px 55px 9px;

    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #ffffff; 
    text-transform: uppercase; 

    background-color: #ee3643;
    border-radius: 3px; 
}

.btn:hover {
    background-color: #ca2c37;
}

.btn:active {
    background-color: #ba2732;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    padding-bottom: 60px;

    background-color: #f4f7f9;
}

.top-header {
    background-color: #293449;
}

.header-logo {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 220px;
    margin-bottom: -5px;
    padding-top: 12px;
    padding-bottom: 10px;

    text-align: center;

    background-color: #ee3643;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo:hover {
    background-color: #ca2c37;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo:active {
    background-color: #ba2732;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.search {
    min-width: 270px;
    margin: 0;
}

.search button {
    background: none;
    border: none;
}

.search input {
    background-color: #293449;
    border: none;
}

.search input:focus {
    background-color: #ffffff;
    border: none;
}

.search-icon:focus .icon {
    fill: #ee3643;
}

.search,
.bookmarks,
.basket {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.bookmarks,
.basket {
    display: flex;
    justify-content: space-around;
    width: 150px;
    margin: 0;
    padding: 11px 22px 11px 13px;
}

.search-icon .icon,
.bookmark-icon .icon,
.basket-icon .icon {
    fill: #ffffff;
    opacity: 0.3;
}

.search-icon:hover .icon,
.bookmark-icon:hover .icon,
.basket-icon:hover .icon,
.basket-icon-full:hover .icon {
    opacity: 1;
}

.search-icon:hover,
.bookmark-icon:hover,
.basket-icon:hover  {
    background-color: #212a3a; 
}

.bookmark-icon:active,
.basket-icon:active {
    color: rgba(255, 255, 255, 0.6);

    background-color: #161d29;
}

.search-icon:active .icon,
.bookmark-icon:active .icon,
.basket-icon:active .icon {
    opacity: 0.5;
}

.checkout {
    width: 150px;
    margin: 0;
    padding-left: 20px; 
    padding-top: 12px;
    padding-bottom: 12px;

    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #63a63e;
}

.checkout:hover {
    background-color: #5fbb2d;
}

.checkout:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: rgb(81, 133, 52);
}

.middle-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
}

.middle-header-title {
    width: 300px;
    margin: 49px 0 0 0;
    padding-left: 50px;

    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
}

.middle-header-contacts {
    width: 300px;
    padding-top: 60px;
}

.contacts-phone {
    padding: 8px 50px 8px 70px;

    font-size: 21px;
    line-height: 21px;
    color: #ee3643;

    border: 3px solid #ffffff;
}

.contacts-adress {
    padding-left: 8px;

    font-size: 14px;
    line-height: 24px;
    color: #32425c; 
}

.user-block {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 47px;
    padding: 0;
    padding-left: 17px;

    list-style: none;
}

.login-icon .icon {
    fill: #c5c5c5;
}

.user-link {
    display: block;
    padding: 12px 25px 12px 22px; 

    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #000000;

    background-color: #ffffff;
}

.login .user-link {
    display: flex;
    justify-content: space-around;
    width: 120px;
    margin: 0;
    padding: 12px 18px 12px 12px;
}

.user-link:hover {
    color: #ee3643;
}

.user-link:hover .icon {
    fill: #32425c;
}

.user-link:active .icon {
    fill: #c5c5c5;
}

.user-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
    background-color: #32425c;
    box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation {
    display: flex;
    justify-content: space-around;
    min-height: 58px;
    margin: 0;
    padding-left: 22px;
    padding-right: 22px;

    list-style: none;
}

.site-navigation a {
    display: block;
    padding: 20px 26px;

    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
}

.site-navigation a:hover {
    background-color: #293449;
}

.site-navigation a:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #1d2739;
}

.promo-block {
    display: flex;
    flex-wrap: wrap;
}

.category {
    display: inline-block;
    width: 300px;
    height: 123px;
    margin: 0;
    padding: 0;
}

.materials {
    position: relative;

    margin: 0;
    margin-right: 20px;
    
    background-color: #ffbf47;
}

.materials .flag {
    position:absolute;
    top: -1px;
    right: -1px;

    width: 60px;
    height: 60px;

    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.materials .flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
}

.instruments {
    margin: 0;
    margin-right: 20px;

    background-color: #3bbce3;
}

.equipment {
    margin: 0;
    margin-bottom: 20px;

    background-color: #dc91d8;
}

.promo-slider {
    width: 620px;
    margin-right: 20px;
}

.column {
    display: flex;
    flex-direction: column;
}

.sales {
    margin-bottom: 20px;

    background-color: #8ed78f;
}

.delivery {
    background-color: #ffc047;
}

.cards {
    display: block;
    margin: 23px 0 12px 23px;
    padding: 0;

    font-size: 24px;
    line-height: 30px; 
    font-weight: bold;
    color: #ffffff;
}


.cards-link {
    display: inline-block;
    width: 135px;
    margin: 0 0 22px 24px;
    padding: 10px 0;

    font-size: 14px;
    line-height: 18px; 
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.cards-link:hover,
.cards-link:focus {
    background-color:rgba(0, 0, 0, 0.2);
}

.cards-link:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.header-products {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    background-color: #f9f5f0;
}

.header-products h2 {
    margin: 30px 0 29px 28px;

    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.header-products .btn {
    margin: 28px 24px 29px 28px;
}

.catalog-items {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0;
}

.catalog-item {
    position:relative;

    display: inline-block;
    width: 220px;
    margin: 0;
    padding: 0;

    font-weight:bold;
    text-align:center;

    border: 1px solid #eaeaea;
}

.catalog-item .actions {
    display:none;
}

.catalog-item:hover .actions {
    display:block;
}

.catalog-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 100;
}

.catalog-item .flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions{
    position: absolute;
    top:0;
    left:0;
    z-index: 10;

    width:218px;
    height: 164px;
    padding: 40px 0;

    background-color: #ffffff;
}

.catalog-item .image {
    width: 218px;
    height: 170px;
}

.catalog-item .image img{
    max-width:100%;
}

.title {
    min-height:40px;
    margin: 8px 0 10px 0;
    padding:0 25px;    

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: #000000;
}

.discount {
    min-height:20px;
    margin: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    text-decoration: line-through;
    color: #a9a9a9;
}

.price {
    width: 141px;
    height: 38px;
    margin:10px auto;
    margin-bottom:20px;
    padding:10px 30px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    color: #ffffff;

    background-image: url("../img/red-button.svg");
    background-repeat: no-repeat;
}

.buy {
    display: block;
    width: 129px;
    margin:0 auto;
    margin-bottom: 7px;
    padding:10px 0;

    font-size: 14px;
    line-height: 18px;
    color: #ffffff;

    background-color: #63a63e;
    box-shadow: inset 0px -3px 0 0 #367315;
    border-radius:3px;
}

.buy:hover  {
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #5fbb2d;
}

.buy:active .icon {
    fill: #ffffff;

    opacity: 1;
}

.buy:active {
    background-color: #518534;
}

.bookmark {
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;

    font-size: 14px;
    line-height: 18px;
    color: #32425c;

    border: 3px solid #63a63e;
    border-radius:3px;
}

.bookmark:hover {
    border: 3px solid #32425c;
}

.bookmark:active {
    color: #32425c;

    opacity: 0.3;
    border: 3px solid #32425c;
}

.brands-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 85px 0;
}

.brands-list img {
    max-width: 100%;
}

.brands-list a {
    width: 220px;
}

.brands-list a:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-list a:active { 
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.service {
    background-color: #f4f7f9;
}

.service h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.service-intro {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.service-control {
    list-style: none;
}

.service-control li {
    width: 240px;
    
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;

    background-color: #32425c;
}

.service-control li:hover  {
    box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
    background-color: #293449;
}

.service-control li:active  {
    color: #32425c;

    box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
    background-color: #ffffff;
}

.service-slide h3 {
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
}

.service-slide p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.about-company {
    display: flex;
    justify-content: space-between;
}

.about {
    display: flex;
    flex-direction: column;
    width: 520px;
}

.company-contacts {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.about h2,
.company-contacts h2 {
    margin: 82px 0 25px 0;

    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.about p,
.company-contacts p {
    margin: 0 0 25px 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.about p:nth-child(3) {
    width: 390px;
    margin: 0;
}

.company-contacts p {
    width: 180px;
    margin: 0;
}

.transport-company {
    margin: 0;
    padding: 0;

    list-style: none;
}

.transport-company li {
    position: relative;

    margin: 20px 0 20px 35px;

    font-size: 18px;
    line-height: 20px;
}

.transport-company li::before {
    position: absolute;
    content: "";
    top: 9px;
    left: -35px;

    width: 25px;
    height: 2px;

    background-color:#ee3643;
}

.map {
    margin: 32px 0 36px 0;
    max-width: 100%;
    height: auto;
    border: none;
}

.about .btn {
    display: inline-block;
    margin: 17px 300px 86px 0;
    padding: 10px 0 10px 0;
}

.main-footer {
    background-color: #32425c;
}

.footer-top .container {
    display: flex;
    justify-content: space-between;
}

.footer-top .logo {
    padding: 20px 0 20px 0;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    width: 325px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    width: 550px;
    
}

.footer-site-menu {
    display: flex;
    justify-content: flex-end; 
    margin: 0;
    padding: 0;  
}

.footer-shop-menu {
    display: flex;
    justify-content: flex-end; 
    margin: 0;
    padding: 0;    
}

.address {
    margin: 34px 0 50px 0;

    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.footer-site-menu,
.footer-shop-menu,
.social-button {
    list-style: none;
}

.footer-site-menu li {
    margin: 38px 0 0 60px;
    padding: 0; 
}

.footer-shop-menu li {
    margin: 35px 0 0 60px;
    padding: 0; 
}

.footer-site-menu a {
    margin: 0;
    padding: 0;

    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;    
}

.footer-site-menu a:hover {
    text-decoration: underline;
}

.footer-site-menu a:active {
    color: #f3f7f9;

    border: none;
    opacity: 0.5;
}

.footer-shop-menu a {
    padding: 0; 
    
    font-size: 18px;
    line-height: 24px;
    color: #ffd180;    
}

.footer-shop-menu a:hover {
    text-decoration: underline;  
}

.footer-shop-menu a:active {
    color: #ffd180;

    border: none;
    opacity: 0.5;  
}

.footer-bottom {
    background-color: #293449;
}

.footer-bottom .container {
    display: flex;
}

.copyright-company {
    width: 250px;
    margin: 36px 135px 35px 0;

    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.social-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    width: 140px;
    margin: 0;
    padding: 0;
    margin-right: 118px;
}

.btn-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    
    background-color: #212a3a;
    border-radius: 50%;
}

.btn-social:hover,
.btn-social:active {
    background-color: #ee3643;
}

.btn-social .icon {
    fill: #ffffff;
}

.feedback,
.design-copyright {
    width: 140px;
    margin: 36px 0 0 0;

    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.design-copyright {
    padding-left: 45px;
}

.feedback a,
.design-copyright a {
    font-size: 16px;
    line-height: 18px;
    color: #ffd180;
}

.feedback a:hover,
.design-copyright a:hover {
    text-decoration: underline;
}

.feedback a:active,
.design-copyright a:active{
    color: #ee3643;

    border: none;
}



/* =====  PROMO SLIDER ==== */



.slider-list {
    list-style: none;
}

.slider-item h3 {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}

.slider-item p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

/* ===== ============= ==== */

/* ===== == CATALOG == ==== */

.header-catalog {
    margin: 0;
}

.basket-icon-full .icon {
    fill: #ffffff;
    opacity: 0.3; 
}

.basket-icon-full {
    background-color: #ee3643;
}

.basket-icon-full:hover {
    background-color: rgb(202, 44, 55);
}

.basket-icon-full:active {
    background-color: rgb(186, 39, 50);
}

.user-container .user-block {
    display: flex;
    width: 300px;
    margin: 48px 0 10px 0;
    padding: 0;
}

.user-container .user-link {
    padding: 12px 0 8px 14px;
    width: 60px;
}

.user-container .user-link-auth {
    display: flex;
    justify-content: space-around;
    width: 240px;
    padding: 12px 0 8px 4px;
}

.user-link .icon {
    fill: #c5c5c5;
}

.user-link:active {
    fill: #c5c5c5;
}

.user-link-auth:hover {
    color: #000000;
}

.user-link-auth:active {
    color: rgba(0, 0, 0, 0.3);
}

.oder-block,
.bread-crumb {
    list-style: none;
}

.oder-block {
    display: flex;
    justify-content: space-around;
    width: 250px;
    margin: 0;
    padding: 0 4px 0 0;
}

.oder-block a {
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 18px;
    color: #32425c;

    text-decoration: underline;
}

.oder-block a:hover {
    color: #ee3643;
}

.oder-block a:active {
    color: #32425c;

    opacity: 0.3;
}

.account-link {
    position: relative;
}

.account-link::before {
    position: absolute;
    content: " ";
    top: 8px;
    left: -20px;

    width: 4px;
    height: 4px;

    background-color: rgb(50, 66, 92);
    border-radius: 50%;
    z-index: 40;
}

.bread-crumb {
    display: flex;
    width: 400px;
    margin: 21px 0;
    padding: 0;
}

.bread-crumb a {
    position: relative;

    margin: 0 41px 0 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000; 
    text-transform: uppercase;   
}

.bread-crumb a::after {
    position: absolute;
    content: " ";
    top: 0;
    right: -22px;

    width: 8px;
    height: 12px;

    background: url("../img/icon-right-small.svg") no-repeat 0 0;
    z-index: 50;
}

.title-catalog {
    margin: 0;
    padding: 28px 0 28px 28px;

    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;

    background-color: #f2f6f8;
}

.catalog-content {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0;
    padding: 0;
}

.filters {
    width: 220px;
    margin: 0;
    padding: 0;
}

.filters .filter-item {
    padding: 0 0 26px 0;
    border-bottom: 1px solid #e5e5e5;
}

.catalog-form fieldset {
    margin: 19px 0 25px 0;
    padding: 0;
  
    border: none;
}

.catalog-form fieldset:first-child {
    margin: 0;
}

.results-catalog {
    width: 700px;
    padding: 0;
}

.range-filter {
    width: 220px;
    margin: 0;
    padding: 0;
}

.range-controls {
    position: relative;

    height: 80px;
    margin-bottom: 12px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;

    background-color: #f7f3ec;
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;

    background: #d7dcde;
}

.range-controls .bar {
    width: 85%;
    height: 2px;

    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;

    width: 20px;
    height: 20px;
    padding: 0;

    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;

    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls label {
    width: 50%;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}

.price-controls input {
    width: 94px;
    margin: 0;
    padding: 8px 0 8px 0;
  
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    color: #000000;

    border: none;
    border-radius: 3px;
    background: #f7f3ec;
}

.max-price {
    text-align: right;
}

.filters h2 {
    margin: 20px 0 12px 0;
    padding: 12px 0 10px 18px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #f7f3ec;
    border-radius: 3px;
}

.filters legend {
    margin: 0 0 12px 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.catalog-form ul,
.sort-types,
.pagination-list {
    list-style: none;
} 

.filter-option {
    margin: 0;
    padding: 0;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;  
    text-transform: uppercase;  
}

.form-btn {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;

    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}

.results {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 20px 0 0 0;

    background-color: #f7f3ec;
    border-radius: 3px;
}

.sort-types {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 460px;
    margin: 0;
    padding: 0;
}

.results p {
    width: 220px;
    margin: 0;
    padding: 12px 0 10px 18px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;

    text-transform: uppercase;
}

.sort {
    margin: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;

    opacity: 0.3;
    border-bottom: 1px #ee3643 dotted;
}

.sort-types li {
    margin: 0 71px 0 0;
}

.sort-types li:nth-child(2) {
    margin: 0 63px 0 0;
}

.sort-types li:nth-child(3) {
    margin: 0;
}

.sort-types li:nth-child(4) {
    margin: 0 21px 0 46px;
}

.sort-types li:nth-child(5) {
    margin: 0;
}

.sort-types .current  {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #ee3643;

    opacity: 1;
    border: none;
}

.sort:hover {
    color: #000000;

    border-bottom: 1px solid #ee3643;
    opacity: 1;
}

.sort:active {
    color: #ee3643;

    border: none;
    opacity: 1;
}

.less-to-more:hover,
.more-to-less:hover {
    margin: 0;
    padding: 0;
}

.less-to-more .icon {
    fill: #ee3643;
}

.more-to-less .icon {
    fill: #c5c5c5;
}

.less-to-more:hover .icon,
.more-to-less:hover .icon {
    fill: #000000;
}

.less-to-more:active .icon,
.more-to-less:active .icon {
    fill: #ee3643;
}

.catalog-content .catalog-item {
    margin: 0 20px 20px 0;
}

.catalog-content .catalog-item:nth-child(3n){
    margin-right: 0;
}


.catalog-content .catalog-items { 
    font-size: 0;
}

.catalog-content .catalog-item {
    font-size: 16px;
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    padding: 0;
    margin: 0 0 60px 0;
}

.pagination-item {
    margin: 10px 9px 0 0;

    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.pagination-item a {
    display: inline-block;
    margin: 0;
    padding: 10px 15px 10px 15px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.next {
    display: inline-block;
    margin: 10px 0 0 0;
    padding: 0px 15px;
}

.pagination-list li:hover  {
    border: 1px solid #e5e5e5;
}

.pagination-list li:active {
    border: 1px solid #ee3643;
}

.pagination-list .active {
    background-color: #ee3643;
}

.pagination-list .active a {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
}

.description {
    margin: 0;
    padding: 0 0 68px 0;

    background-color: #f4f7f9;
}

.description h2 {
    margin: 0;
    padding: 67px 0 0 0;
     
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.description p {
    margin: 25px 0 0 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

/* ===== == MODAL WINDOW == ==== */

.modal {
    position: fixed;
    z-index: 300;

    width: 620px;

    background-color: #ffffff;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
    border-top: 7px solid #ee3643;
}

.modal-login {
    bottom: 200px;
    left: 50%;
  
    width: 620px;
    margin-left: -290px;
    padding: 52px 80px 0 80px;
}

.login-form {
    width: 460px;
}

.modal .modal-close {
    position: absolute;
    top: 7px;
    right: 7px;

    width: 21px;
    height: 21px;

    font-size: 0;

    background-image: url("../img/icon-close.svg");
    border: 0;

    cursor: pointer;
}

.user-block-form {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 460px;
}
  
.half-width label,
.login-form label {
    display: block;
  
    width: 220px;
    margin: 0 0 13px 0;
}

.login-form label {
    font-size: 18px;
    line-height: 18px;
}

.login-form input,
.login-form textarea {
    padding: 12px 16px 12px 16px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;

    border: 2px solid #dee3e4;
    border-radius: 3px;
}

.user-block-form input {
    width: 220px;
}

.login-form textarea {
    width: 460px;
    margin:  0 0 35px 0;
    padding: 13px 16px 88px 16px;
}

.login-form input:hover,
.login-form textarea:hover {
    border: 2px solid #b5b5b5;
}

.login-form input:focus,
.login-form textarea:focus {
    border: 2px solid #ee3643;
}

.button-area {
    width: 620px;
    margin: 0 0 0 -80px;
    padding: 37px 80px 37px 80px;

    background: #f4f4f4;
}

.login-form .btn {
    padding: 14px 198px;

    font-size: 14px;
    line-height: 18px;
    border: 0;
}

/* ===== == MODAL CATALOG == ==== */

.modal-cocntent {
    margin: 0 0 68px 0;
    padding: 20px 0 0 99px;

    font-size: 30px;
    line-height: 30px;
}

.modal-cocntent::before {
    position: absolute;
    content: " ";
    top: 55px;
    left: 81px;

    width: 66px;
    height: 66px;

    background-image: url("../img/icon-mark.svg");
}

.button-block {
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin: 0 0 0 -80px;
    padding: 39px 80px 37px 80px;

    background-color: #f4f4f4;
}

.button-block .btn,
.continue-button {
    width: 220px;
    padding: 12px 0;

    text-align: center;
}

.continue-button {
    font-size: 14px;
    line-height: 18px;
    color: #000000;

    background-color: #ffffff;
}

.continue-button:hover  {
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}

.continue-button:active {
    border: 1px solid #ee3643;
    background-color: #ffffff;
}